{%extends 'etronic/base.html'%}
{% load static %}

{%block body%}
<div class="navbar">
  {%for i in categ%}
    <a href="{%url 'categ' i.pk%}">{{i.categoria}}</a>

    {%endfor%}
<a><i data-action="shop" class="fa fa-shopping-cart"></i></a>
</div>
<div class="slideshow-container">
<div class="mySlides fade">
  <img src="{% static 'images/obl1.jpg'%}">
</div>

<div class="mySlides fade">
  <img src="{% static 'images/obl2.jpg'%}">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>

    </div>

<div class="info">

<h1 >Последние поступления</h1>
</div>

<div class="container">
   {%for i in tovar%}
     <div class="get">
<div class="card">
    <a href="{%url 'opis' i.pk%}">

 <img data-name="bimg" src="{{i.photo1.url}}"  >

        <h1 data-name="bpk" class="pk" style="display:none">{{i.pk}}</h1>
  <h3 data-name="bname" class="name">{{i.name}}</h3>
  <p data-name="bprice" class="price">{{i.price}} AZN</p>
        </a>
        <p style="display:none" class="quan">1</p>
        <form action="{%url 'basket'%}" class="basketform" method="GET">
         <input type="hidden" name="id" value="{{i.id}}">
         <input type="hidden" name="name" value="{{i.name}}">
         <input type="hidden" name="photo" value="{{i.photo1.url}}">
         <input type="hidden" name="price" class="priceval" value="{{i.price}}">
        <input type="hidden" name="quan" class="quanval" value="1">
           <button  data-action="bask">В корзину</button>
            </form>


 </div>
         </div>
    {%endfor%}

</div>
{%for i in a%}
<h1>i</h1>
{%endfor%}

{%endblock%}

